<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset = "UTF-8">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/burgers.js"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>